<h1>Deck Cards</h1>

[ <a href="/">Home</a> | <a href="/players">Players</a> | <a href="/matches">Matches</a> | <a href="/decks">Decks</a> | <a href="/cards">Cards</a> | <a href="/deck_cards">Deck_Cards</a> ]

<div id="browse">
<!-- Make this a button?-->
<p><a href="#" onClick="newDeckCard()">New Deck Card(s)</a></p>
<form method="GET" id="search-by-deck-id-form" action="/deck_cards">
    <label for="select-FilterByDeckID"> Filter by Deck ID: </label> 
    <select name="FilterByDeckID" id="FilterByDeckID">
        <option selected value="">Select a DeckID...</option>
        {{#each decks}}
        <option value="{{this.DeckID}}">{{this.DeckID}} - {{this.Player_Username}}</option>
        {{/each}}
    </select>

    <input type="submit">
    <a href="/deck_cards"><button>Reset</button></a>
</form>
<p></p>
<table border="1" cellpadding="5">
  <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{#if data}}
            {{#each data}}
            <tr>
                <td>{{this.DeckID}}</td>
                <td>{{this.Card_Name}}</td>
			    <td>{{this.Qty}}</td>
            </tr>
            {{/each}}
        {{else}}
            <tr>
                <td>No Cards Found.</td>
            </tr>
        {{/if}}
    </tbody>
</table>
<p>&nbsp;</p>
</div> <!-- browse -->

<div id="insert">
    <form method="POST" id="add-deck-card-form" action="/add-deck-card">
      <p></p>
        <legend><strong>Add Deck</strong></legend>
          <fieldset class="fields">
            <label>Deck ID: </label> <select name="deck-id-input" id="deck-id-input">
                <option value="" selected>Select a DeckID...</option>
                {{#each decks}}
                <option value="{{this.DeckID}}">{{this.DeckID}} - {{this.Player_Username}}</option>
                {{/each}}
            </select>
            <label>Card ID: </label> <select name="card-id-input" id="card-id-input">
                <option value="" selected>Select a CardID...</option>
                {{#each cards}}
                <option value="{{this.CardID}}">{{this.CardID}} - {{this.Name}}</option>
                {{/each}}
            </select>
            <label> Quantity </label> <input type="number" name="quantity-input" id="quantity-input" value="0" min="0">
      </fieldset>
          <input class="btn" type="submit" id="add-deck-card" value="Add Deck_Card">
          {{!-- <input class="btn" type="button" value="cancel" onClick="browseDeckCards()"> --}}
	</form> 
</div><!-- insert -->