<h1>Matches</h1>

[ <a href="index.html">Home</a> | <a href="players.html">Players</a> | <a href="matches.html">Matches</a> | <a href="decks.html">Decks</a> | <a href="cards.html">Cards</a> | <a href="deck_cards.html">Deck_Cards</a> ]

<div id="browse">
<!-- Make this a button?-->
<p><a href="#" onClick="newMatch()">New Match</a></p>
<table border="1" cellpadding="5">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.MatchID}}</td>
            <td>{{this.Player1Win}}</td>
			<td>{{this.Deck1ID}}</td>
			<td>{{this.Player_1_Username}}</td>
			<td>{{this.Deck2ID}}</td>
			<td>{{this.Player_2_Username}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<p>&nbsp;</p>
</div> <!-- browse -->

<div id="insert">
    <form method="POST" id="addMatch">
      <p></p>
        <legend><strong>Add Match</strong></legend>
          <fieldset class="fields">
            <label> Player 1 Win? </label> <select name="Player1Win">
                <option value="NULL">&nbsp;</option>
                <option value="TRUE">TRUE</option>
                <option value="FALSE">FALSE</option>
                </select>
            <label> Deck 1 ID </label> <select name="Deck1ID">
            	<option value="NULL">&nbsp;</option>
                <option value="1">1 - Larvene37</option>
                <option value="2">2 - DistanceShock</option>
                <option value="3">3 - DistanceShock</option>
                <option value="4">4 - Reqaz1a</option>
                </select>
            <label> Deck 2 ID </label> <select name="Deck2ID">
                <option value="NULL">&nbsp;</option>
                <option value="1">1 - Larvene37</option>
                <option value="2">2 - DistanceShock</option>
                <option value="3">3 - DistanceShock</option>
                <option value="4">4 - Reqaz1a</option>
                </select>
      </fieldset>
          <input class="btn" type="submit" id="addMatch" value="Add Match">
          <input class="btn" type="button" value="cancel" onClick="browseMatches()">
	</form> 
</div><!-- insert -->
<p>&nbsp;</p>

<div id="update">
    <form method="POST" id="updateMatch">
      <p></p>
        <legend><strong>Update Match</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="MatchID" id="updateMatchID" value="1">
          <label> Match ID: </label> 1 </br>
          <label> Player 1 Win? </label> <select name="Player1Win">
            <option value="NULL">&nbsp;</option>
            <option value="TRUE" selected>TRUE</option>
            <option value="FALSE">FALSE</option>
            </select>
          <label> Deck 1 ID </label> <select name="Deck1ID">
              <option value="0">&nbsp;</option>
              <option value="1">1 - Larvene37</option>
              <option value="2">2 - DistanceShock</option>
              <option value="3" selected>3 - DistanceShock</option>
              <option value="4">4 - Reqaz1a</option>
              </select>
          <label> Deck 2 ID </label> <select name="Deck2ID">
              <option value="0">&nbsp;</option>
              <option value="1" selected>1 - Larvene37</option>
              <option value="2">2 - DistanceShock</option>
              <option value="3">3 - DistanceShock</option>
              <option value="4">4 - Reqaz1a</option>
              </select>
      </fieldset>
          <input class="btn" type="submit" id="UpdateSaveMatch" value="Save Match">
          <input class="btn" type="button" value="cancel" onClick="browseMatches()">
	</form> 
</div><!-- update -->