<h1>Matches</h1>

[ <a href="/">Home</a> | <a href="/players">Players</a> | <a href="/matches">Matches</a> | <a href="/decks">Decks</a> | <a href="/cards">Cards</a> | <a href="/deck_cards">Deck_Cards</a> ]

<div id="browse">
<!-- Make this a button?-->
<p><a href="#" onClick="newMatch()">New Match</a></p>
<table border="1" cellpadding="5" id="match-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr data-value={{this.MatchID}}>
            <td>{{this.MatchID}}</td>
            {{!-- Render an empty cell only if the row's Player1Win value is NULL --}}
            {{#unless this.Player1Win includeZero=true}}
            <td></td>
            {{else}}
                {{!-- Render "TRUE" if the row's Player1Win value is 1 --}}
                {{#if this.Player1Win}}
                <td>TRUE</td>
                {{!-- Render "FALSE if the row's Player1Win value is 0 --}}
                {{else}}
                <td>FALSE</td>
                {{/if}}
            {{/unless}}
			<td>{{this.Deck1ID}}</td>
			<td>{{this.Player_1_Username}}</td>
			<td>{{this.Deck2ID}}</td>
			<td>{{this.Player_2_Username}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<p>&nbsp;</p>
</div> <!-- browse -->

<div id="insert">
    <form method="POST" id="add-match-form" action="/add-match">
      <p></p>
        <legend><strong>Add Match</strong></legend>
          <fieldset class="fields">
            <label> Player 1 Win? </label> <select name="player-1-win-input" id="player-1-win-input">
                <option value="NULL">&nbsp;</option>
                <option value="1">TRUE</option>
                <option value="0">FALSE</option>
                </select>
            <label> Deck 1 ID </label> <select name="deck-1-id-input" id="deck-1-id-input">
            	<option value="NULL">&nbsp;</option>
                {{#each decks}}
                <option value="{{this.DeckID}}">{{this.DeckID}} - {{this.Player_Username}}</option>
                {{/each}}
                </select>
            <label> Deck 2 ID </label> <select name="deck-2-id-input" id="deck-2-id-input">
                <option value="NULL">&nbsp;</option>
                {{#each decks}}
                <option value="{{this.DeckID}}">{{this.DeckID}} - {{this.Player_Username}}</option>
                {{/each}}
                </select>
      </fieldset>
          <input class="btn" type="submit" id="addMatch" value="Add Match">
          <input class="btn" type="button" value="cancel" onClick="browseMatches()">
	</form> 
</div><!-- insert -->
<p>&nbsp;</p>

<div id="update">
    <form id="update-match-form">
      <p></p>
        <legend><strong>Update Match</strong></legend>
          <fieldset class="fields">
          <label> Match ID </label> <select name="match-id-update" id="match-id-update">
                {{#each data}}
                <option value="{{this.MatchID}}">{{this.MatchID}}</option>
                {{/each}}
                </select>
          <label> Player 1 Win? </label> <select name="Player1WinUpdate" id="player-win-update">
            <option value="NULL">&nbsp;</option>
            <option value="1" selected>TRUE</option>
            <option value="0">FALSE</option>
            </select>
          <label> Deck 1 ID </label> <select name="deck-1-id-update" id="deck-1-id-update">
            	<option value="NULL">&nbsp;</option>
                {{#each decks}}
                <option value="{{this.DeckID}}">{{this.DeckID}} - {{this.Player_Username}}</option>
                {{/each}}
                </select>
          <label> Deck 2 ID </label> <select name="deck-2-id-update" id="deck-2-id-update">
                <option value="NULL">&nbsp;</option>
                {{#each decks}}
                <option value="{{this.DeckID}}">{{this.DeckID}} - {{this.Player_Username}}</option>
                {{/each}}
                </select>
      </fieldset>
          <input type="submit">
	</form> 
	<script src="./js/update_match.js"></script>
</div><!-- update -->